.card-img-box {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.7);
}

.card-img-box:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 20px;
  color: white;
  text-align: center;
}

.modal-img-box, .modal-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgc-style {
  background: linear-gradient(to right, #360033, #0b8793);
}

.modal-content {
  border: 1px solid #ccc;
}

.modal-img {
  border: 2px solid #fff;
}

.btn-like-box {
  position: absolute;
}

/* heart */

/* !*************************************************** delete */

.card-heart {
  position: absolute;
  font-size: 22px;
  top: 15px;
  right: 15px;
  color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  /* background-color: rgb(255, 255, 255, 0.8); */
}

.card-heart:hover {
  color: #fff;
}

/* List mode */

.list-box {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 5px 16px -8px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-out;
}

.list-box:hover {
  transform: scale(1.025);
  box-shadow: 0px 5px 17px -8px rgba(0, 0, 0, 0.8);
  /* background-color: rgba(151, 231, 230, 0.2); */
}

.list-frame {
  display: flex;
  width: 100%;
  height: 80%;
  cursor: pointer;
}

.list-img {
  height: 100%;
  margin-right: 20px;
}

.list-name {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-heart, .modal-heart {
  font-size: 24px;
  color: #ccc;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 7px 6px;
  border-radius: 50%;
}

.list-heart:hover, .modal-heart:hover {
  color: rgb(243, 117, 95);
  background-color: rgb(243, 117, 95, .2)
}

.active-heart {
  color: rgb(243, 117, 95, .8);
}

/* btn mode */

.btn-mode {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: .2s;
}

.btn-mode:hover, .btn-mode-on {
  color: #666;
}

/* navbar滾動變色 */

/* .navbar {
  background: linear-gradient(to right, #360033, #0b8793);
  opacity: 1;
}

.navbar.scroll {
  background: transparent !important;
} */

/* gender-filter */

.btn-gender {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  /* height: 24px;
  line-height: 24px; */
  border: 1px solid #ccc;
  padding: 0 8px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: #ccc;
  transition: .2s;
}

.btn-gender:hover {
  color: #666;
  border: 1px solid #666;
  background-color: #fff;
}

#btn-gender-box .btn-gender-on {
  color: #fff;
  background-color: #666;
  border: 1px solid #666;
}

/* modal */

.modal-content {
  box-sizing: content-box;
  flex-direction: row;
  padding: 20px 0;
  height: 160px;
  /* border: 10px solid#eb9921; */
  border-radius: 10px;
  overflow: hidden;
  border-width: 10px 15px;
  border-style: solid;
  border-color: #00bade;
}

.modal-img-box {
  position: relative;
  width: 33%;
  margin-right: 20px;
}

.modal-img-box img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border-radius: 50%;
  border: 4px solid white;
}

.modal-frame {
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 134px;
  background-color: #00bade;
  border-radius: 0 77px 77px 0;
  border: 10px solid #00bade;
}

.modal-title {
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  line-height: 30px;
}

.modal-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666;
  margin-top: -4px;
  align-items: flex-start;
}

.modal-text-box span {
  margin: 3px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.modal-text-box span.email {
  cursor: pointer;
  color: #ccc;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  transition: 0.2s;
}

.modal-text-box span.email:hover {
  color: #00bade;
}

.modal-heart {
  position: absolute;
  bottom: 10px;
  right: 16px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 540px;
  }
}